body {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  font-family: "lucida grande", "lucida sans unicode", lucida, arial, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  letter-spacing: .2px;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img {
  display: block;
  margin: 10px auto;
}
