{{- if not (.Page.Scratch.Get "katex") -}}
<!-- Include katex only first time -->
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.9/katex.min.css" />
<script defer src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.9/katex.min.js"></script>
<script defer src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.9/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
{{- .Page.Scratch.Set "katex" true -}}
{{- end -}}

{{- if in .Params "display" -}}
<div style="overflow-x: auto;">
{{- end -}}
<span {{- with .Get "class" }} class="{{ . }}"{{ end }}>
  {{ cond (in .Params "display") "\\[" "\\(" -}}
  {{- trim .Inner "\n" -}}
  {{- cond (in .Params "display") "\\]" "\\)" }}
</span>
{{- if in .Params "display" -}}
</div>  
{{- end -}}
