@font-face {
  font-family: "Inter Online";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Online";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Inter-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Online";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Online";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/Inter-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: 'Roboto Mono Online';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/roboto-mono-v6-latin-regular.woff2') format('woff2')
}

@import url("https://cf.criwits.top/fonts/SourceHanSansSC/v1/regular-online.css");
@import url("https://cf.criwits.top/fonts/SourceHanSansSC/v1/bold-online.css");


body {
  font-family: "Inter", "Inter Online", "Source Han Sans SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans SC Online", system-ui, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
}

code, pre, kbd {
  font-family: "Roboto Mono", "Roboto Mono Online", "Source Han Sans SC", "Source Han Sans CN", "Noto Sans SC", 'Source Han Sans SC Online', monospace;
}

.beian-mono {
  font-family: 'Roboto Mono', 'Roboto Mono Online', monospace;
}

// 当在屏幕上显示时，启用标点压缩，配合 JS 脚本实现
@media screen {
  .force-compress-punct {
    font-feature-settings: 'liga' 1, 'calt' 1, 'palt' 1;
  }
  .force-no-wrap {
    white-space: nowrap;
  }
}
