@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local('Inter Variable'), url('fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: local('Inter Variable Italic'), url('fonts/InterVariable-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: local('Inter Variable'), url('fonts/InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: local('Inter Variable Italic'), url('fonts/InterVariable-Italic.woff2') format('woff2');
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter Regular'), url("fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Inter Italic'), url("fonts/Inter-Italic.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inter Bold'), url("fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Inter Bold Italic'), url("fonts/Inter-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url('fonts/roboto-mono-v6-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('fonts/roboto-mono-v6-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@import "fonts/SourceHanSansSC/v1/regular.css";
@import "fonts/SourceHanSansSC/v1/bold.css";

body {
  font-family: Inter, 'Source Han Sans SC', sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1;
  /* fix for Chrome */
}

// 当在屏幕上显示时，启用标点压缩，配合 JS 脚本实现
@media screen {
  .force-compress-punct {
    font-feature-settings: 'liga' 1, 'calt' 1, 'palt' 1;
  }
  .force-no-wrap {
    white-space: nowrap;
  }
}

@supports (font-variation-settings: normal) {
  body {
    font-family: InterVariable, 'Source Han Sans SC', sans-serif;
  }
}

code, pre, kbd {
  font-family: 'Roboto Mono', 'Source Han Sans SC', monospace;
}